#wellwellwell:hover {
    color: #3399FF;
    text-decoration: underline;

    transition: color 1s ease-in-out;
}

.happyMerchant-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    z-index: 9999;
    display: flex;
}
  
.happyMerchant {
    width: 100%;
    height: 100%;
    object-fit: cover;
}