#infoSite * {
    line-height: 5px;
}
#infoSite {
    text-align: center;
    padding-top: 150px;
    margin: 20px 0;
}

#infoSite img {
    width: 188px;
    height: 188px;
    border-radius: 50%;
}

.cardArtistas * {
    text-align: center;
    align-items: center;
    
    justify-content: center;
    justify-items: center;
    color: white;
    background-color: #60495A;
}

.cardArtistas {
    background-color: #60495A;
    border-radius: 33px;
    border: 1px solid transparent;
    
    margin: 0 15px;

    width: 350px;
    height: 450px;
}

.cardArtistas:hover {
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px #3c3e41;
    cursor: pointer;

    transform:
        perspective(5000px)
        rotateY(10deg)
        rotateX(10deg)
        scale(1.15);

    transition: transform 333ms;
}

.cardArtistas p {
    font-size: 20px;
    font-weight: bold;

    border: transparent;
    border-radius: 100px;
}

.cardArtistas img {
    width: 200px;
    height: 200px;
}