/* Estilos para o cabeçalho */

#infoSite * {
    line-height: 5px;
}
#infoSite {
    text-align: center;
    padding-top: 150px;
    margin: 20px 0;
}

#infoSite img {
    width: 188px;
    height: 188px;
    border-radius: 50%;
}

/* Estilos para a grade de artistas */

.gridArtistas {
    width: 75%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    justify-items: center;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}
.gridArtistas #cardArtistas * {
    color: white;
    background-color: #60495A;
}

.gridArtistas #cardArtistas {
    background-color: #60495A;
    border: 1px solid transparent;
    border-radius: 33px;
    
    width: 350px;
    height: 450px;
    
    justify-items: center;
}

.gridArtistas #cardArtistas:hover {
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px #3c3e41;
    cursor: pointer;

    transform:
        perspective(5000px)
        rotateY(17deg)
        rotateX(10deg)
        scale(1.15);

    transition: transform 333ms;
}

.gridArtistas #cardArtistas #titulo {
    font-size: 20px;
    font-weight: bold;

    border: transparent;
    border-radius: 100px;
}

.gridArtistas #cardArtistas p {
    font-size: 16px;
    font-weight: bold;

    border: transparent;
    border-radius: 100px;

    text-align: center;
    padding: 0px 10px;
}
.gridArtistas #cardArtistas .porta-retrato {
    border-radius: 100%;
    border: 1px solid transparent;
    
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 250px;
}

.gridArtistas #cardArtistas .porta-retrato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%; /* Controla a área visível */
    position: absolute;

    /* margin-left: -133px; manipular a posicao da imagem */
    /* margin-top: 100px; manipular a posicao da imagem */
}