#termosdeUso {
    padding-top: 10rem;
}

#termosdeUso h1 {
    line-height: 0px;
}

#termosdeUso fieldset {
    margin-left: 333px;
    margin-right: 333px;
    border-radius: 33px;
    
    text-align: center;
    align-items: center;

    box-shadow: none;
}

#termosdeUso fieldset legend {
    font-size: 45px;
    font-weight: bold;
}

#termosdeUso fieldset p {
    font-size: 1.2rem;
    text-align: justify;
}
