.trabalharConosco input {
    background-color: white;
}
.trabalharConosco select option {
    background-color: white;
}

.trabalharConosco .botaoEnviar {
    background-color: rgb(51, 139, 91);
    border: none;
    padding: 5px 15px;
    height: 35px;
    margin: 0px 5px;
    border-radius: 20px;
    font-weight: bold;
}