* {
    background-color: #BFC3BA;
    color: white;
    font-family: system-ui;
}

.barraNavegacao {
    width: 23%;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #96989b;
    padding: 5px 15px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.barraNavegacao ul {
    background-color: #96989b;
    display: flex;
    list-style: none;
}

.barraNavegacao ul li {
    background-color: #96989b;
}

.barraNavegacao ul li a {
    background-color: #96989b;
}

.barraNavegacao button {
    background-color: #60495A;
    border: none;
    padding: 0px 15px;
    height: 35px;
    margin: 0px 5px;
    border-radius: 20px;
    font-weight: bold;
    

}

.barraNavegacao button:hover {
    background-color: #3f3244;
    border: none;
    padding: 0px 15px;
    height: 35px;
    margin: 0px 5px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #3c3e41;

    transform: scale(1.05);
    transition: transform 250ms;
}

.barraNavegacao #logoTexto {
    display: none;
}

.barraNavegacao #logo {
    background-color: #96989b;
}
.barraNavegacao #logo img {
    background-color: #96989b;
    width: 66px;
    height: 66px;
}

.barraNavegacao #logo img:hover {
    background-color: #96989b;
    transform: scale(0.82);
    transition: transform 250ms;
}

.barraNavegacao #logo img:hover + #logoTexto {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}