* {
    background-color: #BFC3BA;
    color: white;
    font-family: system-ui;
}

.barraNavegacao {
    width: 30%;
    border: 1px solid transparent;
    border-radius: 33px;
    background-color: #96989b;
    padding: 0px 15px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.barraNavegacao ul {
    background-color: #96989b;
    display: flex;
    list-style: none;
}

.barraNavegacao ul li {
    background-color: #96989b;
}

.barraNavegacao ul li a {
    background-color: #96989b;
}

.barraNavegacao button {
    background-color: #60495A;
    border: none;
    padding: 0px 15px;
    height: 35px;
    margin: 0px 5px;
    border-radius: 20px;
    font-weight: bold;
    

}

.barraNavegacao button:hover {
    background-color: #3f3244;
    border: none;
    padding: 0px 15px;
    height: 35px;
    margin: 0px 5px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #3c3e41;

    transform: scale(1.05);
    transition: transform 250ms;
}

.barraNavegacao #logoTexto {
    display: none;
}

.barraNavegacao #logo {
    background-color: #96989b;
}
.barraNavegacao #logo img {
    background-color: #96989b;
    width: 66px;
    height: 66px;
}

.barraNavegacao #logo img:hover {
    background-color: #96989b;
    transform: scale(0.82);
    transition: transform 250ms;
}

.barraNavegacao #logo img:hover #logoTexto {
    display: flex;
}

        .image-container {
            background-color: #96989b;
            display: flex;
            align-items: center;
            margin: 20px;
        }
        
        .hover-image {
            background-color: #96989b;
            width: 66px;
            height: 66px;
            object-fit: cover;
            transition: all 0.3s ease;
        }
        
        .hover-text {
            background-color: #96989b;
            margin-left: 20px;
            opacity: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            font-family: Arial, sans-serif;
            color: #333;
        }
        
        .image-wrapper:hover .hover-text {
            background-color: #96989b;
            opacity: 1;
            width: 125px;
        }

        .image-wrapper:hover .hover-image {
            transform: scale(0.82);
        }
        
        .image-wrapper {
            background-color: #96989b;
            display: flex;
            align-items: center;
            cursor: pointer;
        }